$mobile-width: 80%;

/* NAV */
.coop-nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  padding: 0 25px;
  margin: 0;
}

.coop-nav__link {
  cursor: pointer;
  display: block;

  &,
  &:visited,
  &:focus {
    color: #000;
    text-decoration: none;
  }

  &:hover,
  &:active {
    opacity: 0.7;
    text-decoration: none;
    color: #000;
  }
}

/*  Global Nav */
.coop-global-nav {
  background-color: $gray-800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $global-nav-height;
}

.coop-global-nav__list {
  display: flex;
}

.coop-global-nav__link {
  padding: 5px 0 5px 15px;
  font-size: 12px;
  display: block;

  &,
  &:visited,
  &:hover,
  &:focus {
    color: #fff;
  }
}

.coop-global-nav__close {
  display: none;
}

.coop-global-nav__member {
  display: flex;
  height: 100%;
  align-items: center;
}

.coop-nav-member {
  // background: $primary;
  // padding: 0 25px 0 35px;
}

.coop-nav-member__signup,
.coop-nav-member__login {
  padding-top: 8px;
  padding-bottom: 8px;
  background: $primary;
  height: 100%;

  &:hover,
  &:active,
  &:focus {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background: darken($primary, 5%);
  }
}

.coop-nav-member__signup {
  padding-right: 12px;
  padding-left: 35px;
}

.coop-nav-member__logo {
  display: block;
  height: 100%;
}

.coop-nav-member__login {
  display: flex;
  padding-right: 25px;
  padding-left: 12px;
  color: #fff;
}

.coop-nav-member__icon {
  background: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  margin-top: -3px;
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-base;
}

.coop-nav-member__label {
  font-weight: $font-weight-medium;
  font-size: $font-size-base;
  margin-left: 14px;
}


@media (max-width: map-get($grid-breakpoints, "md")) {
  .coop-global-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-backdrop + 2;
    height: $site-nav-height;
    width: $mobile-width;
    justify-content: flex-start;
    box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.35);
    background: $primary;
  }

  .coop-nav-member__signup,
  .coop-nav-member__login  {
    height: 40px;

    &:active,
    &:hover {
      background: transparent;
      opacity: $hover-opacity;
    }
  }

  .coop-nav-member__label {
    display: none;
  }

  .coop-global-nav__close {
    display: flex;
    padding: 0 0 0 25px;
    font-size: 1.6rem;
    margin-right: auto;
    color: #fff;
  }

  .coop-global-nav__list {
    padding: 5px 10px;
    display: none;
  }

  .coop-global-nav__link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 110px;
    padding: 5px;
  }
}

/* Context nav */

.coop-context-nav {
  background-color:  $gray-200;
  height: 49px;
  position: relative;
}

.dropdown-menu {
  background: $nav-gray;
  padding: 20px;
  display: none;

  @include media-breakpoint-up(md) {
    position: absolute;
    width: 100%;
    top: 49px;
    left: 0;
    z-index: 100;
  }

  a {
    display: block;
    color: $black;

    &:hover {
      color: $gray-800;
    }
  }

  img {
    width: 100%;
    margin-bottom: 10px;
  }

  .coop-nav-spacing {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 10px;
  }
}

.coop-sub-nav {
  ul {
    list-style: none;
    padding: 0;
  }

  .coop-sub-nav__link {
    clear: left;
    display: block;
    width: 100%;
    padding: 5px 0;

    &.active {
      @extend .coop-icon-arrow-right;

      color: $black;
      font-weight: 600;
      text-decoration: none;

      &:after {
        margin-left: 15px;
      }

      @include media-breakpoint-down(md) {
        padding-bottom: 20px;
      }
    }

    @include media-breakpoint-up(md) {
      float: left;
    }
  }

  .sub-nav {
    display: none;

    &.active {
      display: block;
    }
  }

  @include media-breakpoint-up(md) {
    .sub-nav {
      float: right;
      background: $nav-gray;
      position: absolute;
      right: 0;

      .col-12 {
        display: block;
      }
    }
  }
  @include media-breakpoint-down(md) {
    height: auto !important;
  }
}

.coop-context-nav__item {
  @include media-breakpoint-up(md) {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.coop-context-nav__list {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.coop-context-nav__link {
  padding: 15px 20px 13px;
  font-size: 13px;
  font-weight: $font-weight-semibold;
  letter-spacing: 0.05em;
  border-bottom: 3px solid transparent;

  &,
  &:visited,
  &:focus {
    color: $gray-900;
  }

  &:hover,
  &:active {
    color: $gray-900;
    text-decoration: none;
  }
}

.coop-context-nav__link--is-current {
  &,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    font-weight: bold;
    border-color: $primary;
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .coop-context-nav {
    position: fixed;
    top: $site-nav-height;
    left: 0;
    height: 100%;
    padding-bottom: 60px;
    width: $mobile-width;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: $z-index-backdrop + 1;
    box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.35);
  }

  .coop-context-nav__list {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .coop-context-nav__link {
    padding: 20px 25px;
    font-size: 16px;
    border-bottom: 1px solid lighten($gray-800, 5%);
  }

  .coop-context-nav__link--is-current {
    &,
    &:visited,
    &:focus,
    &:hover,
    &:active {
      color: $primary;
    }
  }
}

/* Site nav */

.coop-site-nav {
  height: $site-nav-height;
  background-color: #fff;
}

.coop-site-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: $site-nav-height;
  width: 100%;
  z-index: $z-index-backdrop + 1;
}

.coop-site-nav__logo-wrap {
  height: 60%;
  margin: 15px 25px;
}

.coop-site-nav__logo-image {
  width: auto;
  height: 100%;
}

.coop-site-nav__search {
  width: 400px;
  margin-left: 10px;
}

.coop-site-nav__list {
  margin-left: auto;
  align-items: flex-end;
}

.coop-site-nav__link {
  font-weight: $font-weight-medium;
  line-height: 1;
  display: flex;
  align-items: center;
}

.coop-site-nav__link-name {
  font-size: $font-size-base;
  margin-left: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.coop-site-nav__link-icon {
  font-size: 1.6rem;
}

.coop-site-nav__close-wrap,
.coop-site-nav__mobile {
  display: none;
}

.coop-site-nav__item {
  margin-left: 35px;
  position: relative;
}

.coop-sl-nav-button__name {
  display: block;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .coop-site-nav__inner--is-fixed {
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .coop-site-nav__inner {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  }

  .coop-site-nav__search {
    position: fixed;
    height: $site-nav-height;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    z-index: 11;
    opacity: 0;
    transform: translate3d(0, -105%, 0);
    transition: transform 0.3s, opacity 0.3s;

    .coop-search__results {
      display: none;
    }
  }

  .coop-site-nav__search--mobile-visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;

    .coop-search__results {
      display: block;
    }
  }

  .coop-site-nav__link-name {
    display: none;
  }

  .coop-site-nav__list {
    position: absolute;
    right: 15px;
    padding: 0;
    top: 18px;
    align-items: flex-start;
  }

  .coop-site-nav__mobile {
    display: flex;
    position: absolute;
    left: 15px;
    top: 0;
    height: 100%;
    align-items: center;
  }

  .coop-site-nav__mobile-toggle {
    margin-right: 25px;
    font-size: 1.4rem;
  }

  .coop-site-nav__mobile-search {
    margin-right: 25px;
    font-size: 1.6rem;
  }

  .coop-site-nav__link-icon {
    font-size: 1.6rem;
  }

  .coop-site-nav__item {
    margin-left: 20px;
  }
}

/* NAV SEARCH */

.coop-nav-search {
  position: relative;
  z-index: $z-index-backdrop + 1;
}

.coop-nav-search__input {
  width: 100%;
  height: $site-nav-height;
  padding: 0 15px 0 50px;
  border: 0 solid #eee;
  border-left-width: 1px;
  font-size: $font-size-base;

  &:focus {
    outline: 0;
  }

  &::-ms-clear {
    display: none;
  }
}

.coop-nav-search__icon {
  position: absolute;
  top: 19px;
  left: 15px;
  opacity: .5;
  pointer-events: none;
  font-size: 1.6rem;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
  .coop-nav-search {
    height: $site-nav-height;
    border: none;
    padding: 0;
  }

  .coop-search__input {
    font-size: 16px;
    height: calc(100% + 1px);
    border-bottom: 1px solid #ddd;
    padding-left: 52px;
  }

  .coop-nav-search__icon {
    height: 25px;
    top: 19px;
    left: 15px;
  }

  .coop-nav-search__clear-wrap {
    width: 60px;
    display: flex;
  }

  .coop-nav-search__clear-image {
    width: 15px;
    height: 15px;
  }
}

/* TOGGLE MOBILE NAV */

@media (max-width: map-get($grid-breakpoints, "md")) {
  .coop-nav {
    .coop-context-nav,
    .coop-global-nav {
      transform: translate3d(-110%, 0, 0);
      transition: transform 0.3s;
    }
  }

  .coop-nav--mobile-visible {
    .coop-context-nav,
    .coop-global-nav {
      transform: translate3d(0, 0, 0);
    }
  }
}