%coop-form-base {
  appearance: none;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
  font-size: 1.6rem;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  background: #fff;

  &:focus {
    outline: none !important;
    box-shadow: 0 0 8px $gray-400;
  }
}

.coop-label {
  font-size: 1.4rem;
  font-weight: $font-weight-medium;
}

.coop-text-input {
  @extend %coop-form-base;
}

.coop-textarea {
  @extend %coop-form-base;

  min-height: 150px;
  line-height: 1.6;
  display: flex;
}

.coop-file-input {
  @extend %coop-form-base;

  position: relative;

  &:before {
    content: "Upload fil";

    display: flex;
    align-items: center;
    justify-content: center;
    background: $gray-200;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &:valid:before {
    @extend .coop-icon;
    content: "\e907";

    font-size: 2rem;
    color: #fff;
    background: $success;
  }
}

.coop-form-note {
  font-size: 1.2rem;
  margin: -15px 3px 20px;
  color: $gray-600;
}

// Password
.coop-password-input__wrap {
  position: relative;
  margin-bottom: 20px;
}

.coop-password-input {
  @extend %coop-form-base;

  margin-bottom: 0;
}

.coop-password-input__toggle {
  position: absolute;
  font-size: 1.4rem;
  padding: 5px 12px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: #fff;
  appearance: none;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 0 $border-radius $border-radius 0;
  border: 1px solid $gray-200;
  border-left: none;

  &:focus {
    outline: none;
  }

  &:active i,
  &:hover i {
    opacity: $hover-opacity;
  }
}

.coop-password-input__toggle--icon {
  font-size: 2.5rem;
}

// Checkbox
.coop-checkbox__label {
  display: flex;
  margin-bottom: 20px;
}

.coop-checkbox__input {
  appearance: none;
  outline: 0;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid $gray-400;
    border-radius: 5px;
    background: #fff;
  }

  &:checked {
    &:before {
      @extend .coop-icon;

      content: "\e907";
      font-size: 1.6rem;
      color: $success;
      text-align: center;
      padding-top: 3px;
    }
  }
}

.coop-checkbox__text {
  font-weight: normal;
  font-size: 1.4rem;
  padding-left: 35px;
  user-select: none;
  line-height: 1.8;
}

// Radio
.coop-radio__wrap {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.coop-radio__input {
  @extend .coop-checkbox__input;

  position: absolute;
  top: 0;

  &:before {
    border-radius: 30px;
  }

  &:checked {
    &:before {
      content: "";
    }

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      background: #12872a;
      position: absolute;
      left: 6px;
      border-radius: 32px;
      top: 6px;
    }
  }
}

.coop-radio__label {
  @extend .coop-checkbox__text;
}

.coop-radio__input:checked + .coop-radio__label{
  color: $success;
}

// Validation

.coop-validation {
  color: $danger;
  display: none;
  padding: 6px 16px;
  margin: -10px 0 20px;
  border-radius: $border-radius;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  position: relative;
  background-color: lighten($danger, 35%);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid lighten($danger, 35%);
    top: -15px;
    left: 50%;
    margin-left: -8px;
  }
}

.coop-validation--has-error {
  display: block;
}

.coop-input--has-error {
  border-color: $danger;
}