$white:    #fff;
$gray-100: #F8F7F4;
$gray-200: #EBEBEB;
$gray-300: #dee2e6;
$gray-400: #CCCCCC;
$gray-500: #adb5bd;
$gray-600: #8E8E8E;
$gray-700: #495057;
$gray-800: #333333;
$gray-900: #222222;
$black:    #000;

$blue:    #7DAEDB;
$indigo:  #5A6EAE;
$purple:  #374B91;
$pink:    #B47378;
$red:     #8C1419;
$orange:  #DB951E;
$yellow:  #FFE65F;
$green:   #73AE5F;
$teal:    #73B8BD;
$cyan:    #4BA5AA;

$primary:       #C31414;
$secondary:     $green;
$success:       #12872A;
$info:          $cyan;
$warning:       #F5D74B;
$danger:        #EF0D0D;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg:                   $white;
$body-color:                $gray-800;

$link-color:                              theme-color("primary");
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;

$hover-opacity:               0.7;

$grid-columns:                12;
$grid-gutter-width:           32px;

$border-radius:               .5rem;
$border-radius-lg:            .5rem;
$border-radius-sm:            .5rem;

$font-family-sans-serif:      "COOP", Arial, sans-serif;
$font-family-base:            $font-family-sans-serif;

$font-size-base:              1.6rem;
$line-height-base:            1.5;

$font-weight-medium:          500;
$font-weight-semibold:        600;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

$icomoon-font-path:           "fonts/coop-icons/fonts";