.coop-footer {
  background: $gray-800;
  color: $white;
  text-align: center;
}

.coop-footer--light {
  background: $gray-200;

  .coop-footer__title {
    color: $gray-800;
  }

  .coop-footer__list {
    li {
      a {
        color: $gray-800;

        &:hover,
        &:active,
        &:focus {
          color: $black;
        }
      }
    }
  }
}

.coop-footer__logo {
  max-width: 100%;
  width: 180px;
  margin: 15px auto;
  display: block;
}

.coop-footer__brand {
  background: $white;
}

.coop-footer__title {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 50px;
}

.coop-footer__list {
  list-style: none;
  padding: 0;
  margin: 10px 0 30px;

  li {
    margin-bottom: 5px;
  }

  a {
    color: $white;
    font-size: 0.9rem;
    font-weight: $font-weight-medium;

    &:hover,
    &:active,
    &:focus {
      color: $gray-400;
    }

  }
}

.coop-footer__contact {
  background: $gray-900;
  padding: 50px 25px;
  margin-top: 20px;
  text-align: center;
  font-weight: $font-weight-medium;
  font-size: 0.8rem;
  line-height: 1.8;
}

.coop-footer-chains {
  text-align: center;
}

.coop-footer-chains__link {
  width: 80px;
  display: inline-block;
  margin: 15px;
}

.coop-footer-chains__logo {
  max-width: 100%;
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .coop-footer {
    text-align: left;
  }
}